## 1. Business Understanding

This project aims to find the lifetime value of electronic product which both sells and manufature by Aamazon. The dataset contain the review from the people who brought the prodcut, can use for sentiment analyze to how the customer think about the it. Marketing teams, product development teams and quality assurance teams can be a department which be benefited from this result of analyize, can use to improve the product and all the process related to it. It also can use this data to help them produce or market the product that the target customer will like.

## 2. Data Understanding

In [7]:
import kagglehub
import pandas as pd
import os

# Download latest version
path = kagglehub.dataset_download("datafiniti/consumer-reviews-of-amazon-products")

print("Path to dataset files:", path)

Path to dataset files: /Users/danelkai/.cache/kagglehub/datasets/datafiniti/consumer-reviews-of-amazon-products/versions/5

In [8]:
df1 = pd.read_csv(os.path.join(path, '1429_1.csv'), low_memory=False)
df2 = pd.read_csv(os.path.join(path, 'Datafiniti_Amazon_Consumer_Reviews_of_Amazon_Products_May19.csv'))
df3 = pd.read_csv(os.path.join(path, 'Datafiniti_Amazon_Consumer_Reviews_of_Amazon_Products.csv'))

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34660 entries, 0 to 34659
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    34660 non-null  object
 1   name                  27900 non-null  object
 2   asins                 34658 non-null  object
 3   brand                 34660 non-null  object
 4   categories            34660 non-null  object
 5   keys                  34660 non-null  object
 6   manufacturer          34660 non-null  object
 7   reviews.date          34621 non-null  object
 8   reviews.dateAdded     24039 non-null  object
 9   reviews.dateSeen      34660 non-null  object
 10  reviews.didPurchase   1 non-null      object
 11  reviews.doRecommend   34066 non-null  object
 12  reviews.id            1 non-null      float64
 13  reviews.numHelpful    34131 non-null  float64
 14  reviews.rating        34627 non-null  float64
 15  reviews.sourceURLs    34660 non-null  object
 16  reviews.text          34659 non-null  object
 17  reviews.title         34654 non-null  object
 18  reviews.userCity      0 non-null      float64
 19  reviews.userProvince  0 non-null      float64
 20  reviews.username      34653 non-null  object
dtypes: float64(5), object(16)
memory usage: 5.6+ MB

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28332 entries, 0 to 28331
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   28332 non-null  object
 1   dateAdded            28332 non-null  object
 2   dateUpdated          28332 non-null  object
 3   name                 28332 non-null  object
 4   asins                28332 non-null  object
 5   brand                28332 non-null  object
 6   categories           28332 non-null  object
 7   primaryCategories    28332 non-null  object
 8   imageURLs            28332 non-null  object
 9   keys                 28332 non-null  object
 10  manufacturer         28332 non-null  object
 11  manufacturerNumber   28332 non-null  object
 12  reviews.date         28332 non-null  object
 13  reviews.dateSeen     28332 non-null  object
 14  reviews.didPurchase  9 non-null      object
 15  reviews.doRecommend  16086 non-null  object
 16  reviews.id           41 non-null     float64
 17  reviews.numHelpful   16115 non-null  float64
 18  reviews.rating       28332 non-null  int64
 19  reviews.sourceURLs   28332 non-null  object
 20  reviews.text         28332 non-null  object
 21  reviews.title        28332 non-null  object
 22  reviews.username     28327 non-null  object
 23  sourceURLs           28332 non-null  object
dtypes: float64(2), int64(1), object(21)
memory usage: 5.2+ MB

In [11]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   5000 non-null   object
 1   dateAdded            5000 non-null   object
 2   dateUpdated          5000 non-null   object
 3   name                 5000 non-null   object
 4   asins                5000 non-null   object
 5   brand                5000 non-null   object
 6   categories           5000 non-null   object
 7   primaryCategories    5000 non-null   object
 8   imageURLs            5000 non-null   object
 9   keys                 5000 non-null   object
 10  manufacturer         5000 non-null   object
 11  manufacturerNumber   5000 non-null   object
 12  reviews.date         5000 non-null   object
 13  reviews.dateAdded    1052 non-null   object
 14  reviews.dateSeen     5000 non-null   object
 15  reviews.doRecommend  5000 non-null   bool
 16  reviews.id           29 non-null     float64
 17  reviews.numHelpful   5000 non-null   int64
 18  reviews.rating       5000 non-null   int64
 19  reviews.sourceURLs   5000 non-null   object
 20  reviews.text         5000 non-null   object
 21  reviews.title        4987 non-null   object
 22  reviews.username     4999 non-null   object
 23  sourceURLs           5000 non-null   object
dtypes: bool(1), float64(1), int64(2), object(20)
memory usage: 903.4+ KB

In [13]:
master_df = pd.concat([df1, df2, df3], ignore_index=True)

In [18]:
master_df.drop_duplicates(subset=['reviews.username', 'reviews.text', 'reviews.rating'], inplace=True)

In [19]:
print("Master DataFrame Info:")
master_df.info()

Master DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
Index: 48099 entries, 0 to 66412
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    48099 non-null  object
 1   name                  41339 non-null  object
 2   asins                 48097 non-null  object
 3   brand                 48099 non-null  object
 4   categories            48099 non-null  object
 5   keys                  48099 non-null  object
 6   manufacturer          48099 non-null  object
 7   reviews.date          48060 non-null  object
 8   reviews.dateAdded     24039 non-null  object
 9   reviews.dateSeen      48099 non-null  object
 10  reviews.didPurchase   10 non-null     object
 11  reviews.doRecommend   37319 non-null  object
 12  reviews.id            65 non-null     float64
 13  reviews.numHelpful    37407 non-null  float64
 14  reviews.rating        48066 non-null  float64
 15  reviews.sourceURLs    48099 non-null  object
 16  reviews.text          48098 non-null  object
 17  reviews.title         48082 non-null  object
 18  reviews.userCity      0 non-null      float64
 19  reviews.userProvince  0 non-null      float64
 20  reviews.username      48092 non-null  object
 21  dateAdded             13439 non-null  object
 22  dateUpdated           13439 non-null  object
 23  primaryCategories     13439 non-null  object
 24  imageURLs             13439 non-null  object
 25  manufacturerNumber    13439 non-null  object
 26  sourceURLs            13439 non-null  object
dtypes: float64(5), object(22)
memory usage: 10.3+ MB

In [20]:
master_df.to_csv('amazon_reviews_master.csv', index=False)

In [25]:
master_df.isna().sum()

id                          0
name                     6760
asins                       2
brand                       0
categories                  0
keys                        0
manufacturer                0
reviews.date               39
reviews.dateAdded       24060
reviews.dateSeen            0
reviews.didPurchase     48089
reviews.doRecommend     10780
reviews.id              48034
reviews.numHelpful      10692
reviews.rating             33
reviews.sourceURLs          0
reviews.text                1
reviews.title              17
reviews.userCity        48099
reviews.userProvince    48099
reviews.username            7
dateAdded               34660
dateUpdated             34660
primaryCategories       34660
imageURLs               34660
manufacturerNumber      34660
sourceURLs              34660
dtype: int64